<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <logger name="org.apache.hc.client5.http.wire" level="ERROR" additivity="false"/>
        <logger name="org.jetbrains.exposed.sql" level="ERROR" additivity="false"/>
        <logger name="[R]:[KTOR]:[ExclusionRequestRateLimiter]" level="OFF" additivity="false"/>
    </appender>

    <root level="TRACE">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
